<manifest package="com.imuhao.common"
	xmlns:android="http://schemas.android.com/apk/res/android"
	>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>

	<application
		android:allowBackup="true"
		android:supportsRtl="true">

		<activity
			android:name="com.imuhao.common.base.activity.BaseContentActivity"/>

		<meta-data
			android:name="com.imuhao.common.glide.GlideConfiguration"
			android:value="GlideModule"/>
	</application>

</manifest>
